<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>{% block title %}Flask Skeleton{% endblock %}</title>

    <link rel="icon" href="/static/img/favicon.ico">

    {% block styles %}
      <link rel="stylesheet" href="{{ config.STATIC_FOLDER }}/c/css/skeleton.css"/>
    {% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block scripts %}
      <script src="{{ config.STATIC_FOLDER }}/c/js/jquery.min.js"></script>
      <script src="{{ config.STATIC_FOLDER }}/c/js/underscore.js"></script>
      <script src="{{ config.STATIC_FOLDER }}/c/js/skeleton.js"></script>
    {% endblock %}
  </body>
</html>
